.color1{
    background-color: rgb(123, 236, 16);  
}
.color2{
    color: darkorchid;    
} 
.color3{  
    color: blue;
}
.color4{ 
     color: cornflowerblue;
}
.color5{
     color: indianred;
}
.back{ 
    color: blueviolet;
}
.slide-top {
	animation: slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2 alternate-reverse ;

}
 @keyframes slide-top {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
  }
  .colorcambio {
	animation: cambio 2s cubic-bezier(0.250, 0.460, 0.450, 0.940)   both;
}
@keyframes cambio {
    0% {
 background-color: #26137c;
    }
    100% {
    background-color: #adcf15;

    }

    }
    

    
